{% extends "themes/base_admin.html.twig" %}

{% block title %}Modifier les paramètres du site{% endblock %}

{% block description %}Modifier les paramètres du site{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Modifier les paramètres du site</h1>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                {{form_start(form)}}
                    <div class="mb-3">
                        <label for="admin_category_form_name">Email</label>
                        <div class="text-danger">{{form_errors(form.email)}}</div>
                        {{form_widget(form.email, {'attr': {'class':'form-control', 'autofocus':'autofocus'}})}}
                    </div>
                    <div class="mb-3">
                        <label for="admin_category_form_name">Numéro de téléphone</label>
                        <div class="text-danger">{{form_errors(form.phone)}}</div>
                        {{form_widget(form.phone, {'attr': {'class':'form-control'}})}}
                    </div>
                    <div>
                        <input formnovalidate type="submit" class="btn btn-primary">
                    </div>
                {{form_end(form)}}
            </div>
        </div>
    </div>
{% endblock %}